html {
    height: 105%;
}

.banner {
	text-align: center;
	color:  #2F3637;
	font-family: Helvetica;
	font-size: 24px;
	margin: auto;
}

.content {
	text-align: center;
	font-family: Helvetica;
	font-size: 16px;
	color: #C9C5C1;

	width: 500px;
	height: 70%;
	padding: 45px;

	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	border-radius: 6px;

	margin: auto;
	position: absolute;
	background-color: #1E2323;
	/*background-color: transparent;*/
	
	-webkit-box-shadow: 18px 4px 93px 1px rgba(0,0,0,0.22);
	-moz-box-shadow: 18px 4px 93px 1px rgba(0,0,0,0.22);
	box-shadow: 18px 4px 93px 1px rgba(0,0,0,0.22);

	perspective: 1000px;

}

#innercontent {
	width: 500px;
	height: 100%;
	text-align: center;
	transition: transform 0.7s;
	transform-style: preserve-3d;
}

#innercontent.flipped {
  transform: rotateX(180deg);
}

.front, .back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.back {
	transform: rotateX(180deg);
}

.logolink{
	display: inline;
  	vertical-align: top;
  	float: none;
  	padding: 15px;
}

body {
	background-repeat: no-repeat;
	background-image: linear-gradient(to bottom, #ffffff, #f3f1f3, #e8e3e4, #ddd6d4, #d0c9c4);
}

table{
    border-collapse: collapse;
    text-align: left;
}

tr{
	height: 25px;
}

.firstLine td{
    border-bottom: 2px solid black;
}

.staticfooter {
	padding: 20px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #152426;
	text-align: center;
}

#particles-js{
	width: 100%;
	height: 110%;
	background-image: url('');
	background-size: cover;
	background-repeat: no-repeat;
}

.arrow {
	position: absolute;
	top: 50%;
	width: .7vmin;
	height: .7vmin;
	border-top: 0.5vmin solid white;
	border-right: 0.5vmin solid white;
	box-shadow: 0 0 0 lightgray;
	transition: all 200ms ease;

	right: 0;
	transform: translate3d(0,-50%,0) rotate(45deg);
	backface-visibility: hidden;
}

.arrow:hover {
	border-color: orange;
	box-shadow: 0.5vmin -0.5vmin 0 white;
}

.arrow:before { // for better hit area
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-40%,-60%) rotate(45deg);
	width: 200%;
	height: 200%;
}

