.banner {
	text-align: center;
	color:  #2F3637;
	font-family: Helvetica;
	font-size: 24px;
}

a:link {
	color: #d0c9c4;
}

a:visited {
	color: #e8e3e4;
}

.content {
	text-align: center;
	font-family: Helvetica;
	font-size: 16px;
	color: #C9C5C1;

	width: 500px;
	height: 800px;
	padding: 40px;

	left: 0;
	right: 0;

	border-radius: 6px;

	margin: auto;
	position: absolute;
	background-color: #1E2323;
	/*background-color: transparent;*/
	
	-webkit-box-shadow: 18px 4px 93px 1px rgba(0,0,0,0.22);
	-moz-box-shadow: 18px 4px 93px 1px rgba(0,0,0,0.22);
	box-shadow: 18px 4px 93px 1px rgba(0,0,0,0.22);

	perspective: 1000px;
}

#innercontent {
	width: 500px;
	height: 100%;
	text-align: center;
	transition: transform 0.7s;
	transform-style: preserve-3d;
}

#innercontent.flipped {
  transform: rotateY(180deg);
}

.front, .back {
	position: absolute;
	width: 100%;
	height: 100%;
	
	-webkit-perspective: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    visibility:visible;
    backface-visibility: hidden;
}

.back {
	transform: rotateY(180deg);
	text-align: left;
}

.logolink{
	display: inline;
  	vertical-align: top;
  	float: none;
  	padding: 15px;
}

body {
	background-repeat: no-repeat;
	background-image: linear-gradient(to bottom, #ffffff, #f3f1f3, #e8e3e4, #ddd6d4, #d0c9c4);
	background-attachment: fixed;
}

table{
    border-collapse: collapse;
    text-align: left;
}

tr{
	height: 25px;
}

.firstLine td{
    border-bottom: 2px solid black;
}

.staticfooter {
	padding: 20px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #152426;
	text-align: center;
}

#particles-js{
	background-image: url('');
	background-size: cover;
	background-repeat: no-repeat;
}

.arrow {
	position: absolute;
	top: 50%;
	width: .7vmin;
	height: .7vmin;
	border-top: 0.5vmin solid white;
	border-right: 0.5vmin solid white;
	box-shadow: 0 0 0 lightgray;
	transition: all 200ms ease;

	right: 0;
	transform: translate3d(0,-50%,0) rotate(45deg);
	backface-visibility: hidden;
}

.arrow:hover {
	border-color: orange;
	box-shadow: 0.5vmin -0.5vmin 0 white;
}

.arrow:before { // for better hit area
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-40%,-60%) rotate(45deg);
	width: 200%;
	height: 200%;
}

#btnflipper {
	-moz-box-shadow:inset 0px 0px 15px 3px #DDDBD9;
	-webkit-box-shadow:inset 0px 0px 15px 3px #DDDBD9;
	box-shadow:inset 0px 0px 15px 3px #DDDBD9;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #C9C5C1), color-stop(1, #B8B1AA));
	background:-moz-linear-gradient(top, #C9C5C1 5%, #B8B1AA 100%);
	background:-webkit-linear-gradient(top, #C9C5C1 5%, #B8B1AA 100%);
	background:-o-linear-gradient(top, #C9C5C1 5%, #B8B1AA 100%);
	background:-ms-linear-gradient(top, #C9C5C1 5%, #B8B1AA 100%);
	background:linear-gradient(to bottom, #C9C5C1 5%, #B8B1AA 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#C9C5C1', endColorstr='#B8B1AA',GradientType=0);
	background-color:#C9C5C1;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	border:1px solid #162227;
	display:inline-block;
	cursor:pointer;
	color:#1E2323;
	font-family: Helvetica;
	font-size:16px;
	padding:6px 13px;
	text-decoration:none;
	width: 40%;
}
#btnflipper:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #B8B1AA), color-stop(1, #C9C5C1));
	background:-moz-linear-gradient(top, #B8B1AA 5%, #C9C5C1 100%);
	background:-webkit-linear-gradient(top, #B8B1AA 5%, #C9C5C1 100%);
	background:-o-linear-gradient(top, #B8B1AA 5%, #C9C5C1 100%);
	background:-ms-linear-gradient(top, #B8B1AA 5%, #C9C5C1 100%);
	background:linear-gradient(to bottom, #B8B1AA 5%, #C9C5C1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#B8B1AA', endColorstr='#C9C5C1',GradientType=0);
	background-color:#313639;
}
#btnflipper:active {
	position:relative;
	top:2px;
}

#btnflipper:focus {
	outline: 0;
}

#buttondiv {
	margin-top: -25px;
	padding-bottom: 20px;
}

#btnflipper span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.2s;
}

#btnflipper span:after {
  content: '\2192';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.2s;
}

#btnflipper:hover span {
  padding-right: 25px;
}

#btnflipper:hover span:after {
  opacity: 1;
  right: 0;
}

