html {
    height: 105%;
}

.banner {
	text-align: center;
	color:  #2F3637;
	font-family: Helvetica;
	font-size: 24px;
	margin: auto;
}

.content {
	text-align: center;
	font-family: Helvetica;
	font-size: 16px;
	color: #C9C5C1;

	width: 450px;
	height: 70%;
	padding: 45px;

	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	border-radius: 6px;

	margin: auto;
	position: absolute;
	background-color: #1E2323;
}

.logolink{
	display: inline;
  	vertical-align: top;
  	float: none;
  	padding: 15px;
}

body {
	background-repeat: no-repeat;
	background-image: linear-gradient(to bottom, #ffffff, #f3f1f3, #e8e3e4, #ddd6d4, #d0c9c4);
}

.staticfooter {
	padding: 20px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #152426;
	text-align: center;
}

#particles-js{
	width: 100%;
	height: 110%;
	background-image: url('');
	background-size: cover;
	background-repeat: no-repeat;
}
